
:root {
    /* 
        General
    */
    --primaryColor: #276FBF;
    /*
        Light Mode
    */
    --primaryColorLm: #FFFFFF;
    --backgroundColorLm: #00000027;
    --borderColorLm: #888888;
    --borderItemColorLm: #CCCCCC;
    --fontColorLm: #000000;
    /*
        Dark Mode
    */
    --primaryColorDm: #141d24;
    --backgroundColorDm: #232F38;
    --borderColorDm: #3D3D3D;
    --borderItemColorDm: #9B9A9A;
    --fontColorDm: #FFFFFF;
}

/*
    Geral
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
}

body {
   background: var(--backgroundColorLm);
   overflow: hidden;
}

/* 
    Header
*/

.header-container {
    background: var(--primaryColor);
    width: 100%;
    height: 8vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px;
    color: #FFFFFF;
    font-weight: bold;
}

.header-container span {
    font-size: 1.4rem;
    font-weight: bold;
    margin-right: 80vw;
}

.header-container i {
    cursor: pointer;
}

/*
    User Menu
*/

.user-settings {
    cursor: pointer;
    font-weight: bold;
    position: relative;
}

.user-menu {
    padding: 15px;
    text-align: center;
    width: 200px;
}

.user-settings .user-menu {
    color: var(--fontColorLm);
    position: absolute;
    padding: 10px 20px;
    z-index: 2;
    right: -4px;
    bottom: -105px;
    transform: scale(0);
    border-radius: 5px;
    background: var(--primaryColorLm);
    transform-origin: top right;
    transition: transform 0.2s ease;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.199);
}

.user-settings:hover .user-menu {
    transform: scale(1);
}

.user-menu li {
    font-size: 0.9rem;
    height: 30px;
    margin-bottom: 10px;
    justify-content: flex-start;
    border-bottom: 1px solid var(--borderColorLm);
}

.user-menu li:last-child {
    margin-bottom: 0;
}

.user-menu li:hover {
    color: var(--primaryColor);
}

.user-menu li i{
    padding-right: 8px;
}

/*
    Footer
*/

footer {
    text-align: center;
    width: 100%;
    position: absolute;
    background: var(--primaryColorLm);
    padding-top: 5px;
    padding-bottom: 45px;
    bottom: 0;
    color: var(--fontColorLm);
}

footer hr {
    margin-bottom: 20px;
}

/*
    Total
*/

.container-total {
    width: 100%;
    display: flex;
    justify-content: center;
    position: absolute;
    margin-top: 80px;
}

.content-total p{
    color: var(--primaryColor);
    font-size: 2rem;
    font-weight: bold;
}

/*
    Content
*/

.wrapper {
    max-width: 450px;
    margin: 135px auto;
    background: var(--primaryColorLm);
    border-radius: 7px;
    padding: 28px 0;
    color: var(--fontColorLm)
}

/*
    Input
*/

.item-input {
    height: 52px;
    padding: 0 25px;
    position: relative;
    margin-bottom: 10px;
}

.item-input i {
    position: absolute;
    top: 50%;
    transform: translate(17px, -50%);
    color: var(--fontColorLm);
}

.item-input input {
    height: 100%;
    width: 100%;
    border-radius: 5px;
    padding: 0 20px 0 53px;
    border: 2px solid var(--borderColorLm);
    outline: none;
    color: var(--fontColorLm);
    background-color: var(--primaryColorLm);
}

.item-input input::placeholder {
    color: var(--borderColorLm);
}

/*
    Filter and controls
*/

.controls, li {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.controls {
    padding: 18px 25px;
    border-bottom: 1px solid var(--borderColorLm);
}

.filters span {
    cursor: pointer;
    margin: 0 8px;
    font-weight: bold;
}

.filters span:first-child {
    margin-left: 0;
}

.filters span.active {
    color: var(--primaryColor);
}

.controls .clear-btn {
    outline: none;
    border: none;
    color: #FFFFFF;
    cursor: pointer;
    font-weight: bold;
    border-radius: 4px;
    padding: 7px 13px;
    background: var(--primaryColor);
}

/*
    List
*/

.item-box {
    margin: 20px 25px;
}

.item-box .item {
    list-style: none;
    font-size: 1.3rem;
    font-weight: bold;
    margin-bottom: 18px;
    padding-bottom: 16px;
    border-bottom: 1px solid var(--borderItemColorLm);
}

.item-box .item:last-child {
    margin-bottom: 0;
    border-bottom: 0;
    padding-bottom: 0;
}

.item label {
    display: flex;
}

.item label p.checked {
    text-decoration: line-through;
}

.item label input {
    margin-top: 6px;
    margin-right: 12px;
}

.item .settings {
    cursor: pointer;
    font-weight: bold;
    position: relative;
}

.item-menu {
    text-align: center;
}

.settings .item-menu {
    position: absolute;
    padding: 5px 20px;
    z-index: 2;
    right: -1px;
    bottom: -70px;
    transform: scale(0);
    border-radius: 5px;
    background: var(--primaryColorLm);
    transform-origin: top right;
    transition: transform 0.2s ease;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.199);
}

.settings .item-menu.show{
    transform: scale(1);
}


.item-menu li {
    height: 25px;
    padding: 17px 20px;
    margin-bottom: 2px;
    justify-content: flex-start;
}

.item-menu li:last-child {
    margin-bottom: 0;
}

.item-menu li:hover {
    color: var(--primaryColor);
}

.item-menu li i{
    padding-right: 8px;
}