/*
    Variables
*/

:root {
    --primaryColor: #15539B;
    --secundaryColor: #FFFFFF;
    --thirdColor: #0B70E4D8;
    --backgroundColor: #00000027;
    --borderColor: #888888;
    --borderItemColor: #CCCCCC;
    --fontColor: #000000;
    --placeholder: #000000AD;
}    

.dark-mode-changed {
    --primaryColor: #15539b;
    --secundaryColor: #141d24;
    --thirdColor: #0B70E4D8;
    --backgroundColor: #232F38;
    --borderColor: #777676;
    --borderItemColor: #9B9A9A;
    --fontColor: #FFFFFFD2;
    --placeholder: #FFFFFFAD;
}


/*
    Geral
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
}

body {
   background: var(--backgroundColor);
   overflow: hidden;
}

.active-mode {
    display: none;
}

/* 
    Header
*/

.header-container {
    background: var(--primaryColor);
    width: 100%;
    height: 8vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px;
    color: var(--secundaryColor);
    font-weight: bold;
}

.header-container span {
    font-size: 1.4rem;
    font-weight: bold;
    margin-right: 80vw;
}

.header-container i {
    cursor: pointer;
}

/*
    User Menu
*/

.user-settings {
    cursor: pointer;
    font-weight: bold;
    position: relative;
}

.user-menu {
    padding: 15px;
    text-align: center;
    width: 200px;
}

.user-settings .user-menu {
    color: var(--fontColor);
    position: absolute;
    padding: 10px 20px;
    z-index: 2;
    right: -4px;
    bottom: -105px;
    transform: scale(0);
    border-radius: 5px;
    background: var(--secundaryColor);
    transform-origin: top right;
    transition: transform 0.2s ease;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.199);
}

.user-settings:hover .user-menu {
    transform: scale(1);
}

.user-menu li {
    font-size: 0.9rem;
    height: 30px;
    margin-bottom: 10px;
    justify-content: flex-start;
    border-bottom: 1px solid var(--borderColor);
}

.user-menu li:last-child {
    margin-bottom: 0;
}

.user-menu li:hover {
    color: var(--primaryColor);
}

.user-menu li i{
    padding-right: 8px;
}

/*
    Footer
*/

footer {
    text-align: center;
    width: 100%;
    position: absolute;
    background: var(--secundaryColor);
    padding-top: 5px;
    padding-bottom: 45px;
    bottom: 0;
    color: var(--fontColor);
}

footer hr {
    margin-bottom: 20px;
}

/*
    Total
*/

.container-total {
    width: 100%;
    display: flex;
    justify-content: center;
    position: absolute;
    margin-top: 80px;
}

.content-total p{
    color: var(--thirdColor);
    font-size: 2rem;
    font-weight: bold;
}

/*
    Modal
*/

.text-input {
    text-align: center;
    font-weight: bold;
    width: 300px;
    margin: 15px;
    color: var(--fontColor)
}

.modal {
    top: 30%;
    left: 40%;
    position: absolute;
    max-width: 450px;
    background: var(--secundaryColor);
    border-radius: 7px;
    color: var(--fontColorLm);
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.199);
    display: none;
}


.modal-header {
    margin-top: 5px;
    margin-bottom: 20px;
    margin-left: 320px;
}

#close-btn {
    color: var(--fontColor);
}

#close-btn:hover {
    color: rgb(235, 77, 77);
    cursor: pointer;
}

.modal-input {
    height: 52px;
    padding: 0 25px;
    position: relative;
    margin-bottom: 10px;
    color: var(--fontColor);
}

.modal-input i {
    position: absolute;
    top: 50%;
    transform: translate(17px, -50%);
    color: var(--fontColor);
}

.modal-input input {
    height: 100%;
    width: 100%;
    border-radius: 5px;
    padding: 0 20px 0 53px;
    border: 2px solid var(--borderColor);
    outline: none;
    color: var(--fontColorLm);
    background-color: var(--secundaryColor);
}

.modal-input input::placeholder {
    color: var(--borderColor);
}

/*
    Modal Barcode

*/

.modal-barcode{
    top: 17%;
    left: 37%;
    position: absolute;
    max-width: 500px;
    height: 500px;
    background: var(--secundaryColor);
    border-radius: 7px;
    color: var(--fontColorLm);
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.199);
    display: none;
}

.modal-barcode-header{
    margin-top: 5px;
    margin-left: 455px;
}

#cam {
    margin: 15px;
    width: 450px; 
    height: 300px;
}

#cam video{
    width: 100%;
    height: 100%;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.199);
}

.content-result {
    width: 100%;
    margin-top: 5px;
    position: absolute;
    color: var(--fontColor);
    text-align: center;
}

#result {
    font-weight: bold;
}

#modal-barcode-text {
    color: var(--fontColor);
    width: 100%;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 5px;
    font-weight: bold;
}

#close-btn-barcode {
    color: var(--fontColor);
}

#close-btn-barcode:hover {
    color: rgb(235, 77, 77);
    cursor: pointer;
}

#confirm-barcode {
    position: absolute;
    right: 0;
    bottom: 0;
    margin: 30px;
    padding: 2px 10px;
    outline: none;
    border: none;
    color: #FFFFFF;
    cursor: pointer;
    font-weight: bold;
    border-radius: 4px;
    background: var(--thirdColor);
}

#confirm-barcode:hover {
    background: #083f7ed8;
}


/*
    Button
*/

.ok-btn {
    margin-left: 250px;
}

.controls .ok-btn {
    outline: none;
    border: none;
    color: #FFFFFF;
    cursor: pointer;
    font-weight: bold;
    border-radius: 4px;
    padding: 7px 13px;
    background: var(--thirdColor);
}

.controls .ok-btn:hover {
    background: #083f7ed8;
}

/*
    Content
*/

.wrapper {
    max-width: 450px;
    margin: 135px auto;
    background: var(--secundaryColor);
    border-radius: 7px;
    padding: 28px 0;
    color: var(--fontColor)
}

.text-obs {
    text-align: center;
}

#barcode:hover {
    color: var(--thirdColor);
    cursor: pointer;
}

/*
    Input
*/

.item-input {
    height: 52px;
    padding: 0 25px;
    position: relative;
    margin-bottom: 10px;
}

.item-input i {
    position: absolute;
    top: 50%;
    transform: translate(17px, -50%);
    color: var(--fontColor);
}

.item-input input {
    height: 100%;
    width: 100%;
    border-radius: 5px;
    padding: 0 20px 0 53px;
    border: 2px solid var(--borderColor);
    outline: none;
    color: var(--fontColorLm);
    background-color: var(--secundaryColor);
}

.item-input input::placeholder {
    color: var(--borderColor);
}

/*
    Filter and controls
*/

.controls, li {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.controls {
    padding: 18px 25px;
    border-bottom: 1px solid var(--borderColor);
}

.filters span {
    cursor: pointer;
    margin: 0 8px;
    font-weight: bold;
}

.filters span:first-child {
    margin-left: 0;
}

.filters span.active {
    color: var(--thirdColor);
    font-weight: bold;
}

.controls .clear-btn {
    outline: none;
    border: none;
    color: #FFFFFF;
    cursor: pointer;
    font-weight: bold;
    border-radius: 4px;
    padding: 7px 13px;
    background: var(--thirdColor);
}

/*
    List
*/

.item-box {
    margin: 20px 25px;
}

.item-box .item {
    list-style: none;
    font-size: 1.3rem;
    font-weight: bold;
    margin-bottom: 18px;
    padding-bottom: 16px;
    border-bottom: 1px solid var(--borderItemColor);
}

.item-box .item:last-child {
    margin-bottom: 0;
    border-bottom: 0;
    padding-bottom: 0;
}

.item label {
    display: flex;
}

.item label p.checked {
    text-decoration: line-through;
}

.item label input {
    margin-top: 6px;
    margin-right: 12px;
}

.item .settings {
    cursor: pointer;
    font-weight: bold;
    position: relative;
}

.item-menu {
    text-align: center;
}

.settings .item-menu {
    position: absolute;
    padding: 5px 20px;
    z-index: 2;
    right: -1px;
    bottom: -70px;
    transform: scale(0);
    border-radius: 5px;
    background: var(--secundaryColor);
    transform-origin: top right;
    transition: transform 0.2s ease;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.199);
}

.settings .item-menu.show{
    transform: scale(1);
}


.item-menu li {
    height: 25px;
    padding: 17px 20px;
    margin-bottom: 2px;
    justify-content: flex-start;
}

.item-menu li:last-child {
    margin-bottom: 0;
}

.item-menu li:hover {
    color: var(--primaryColor);
}

.item-menu li i{
    padding-right: 8px;
}